body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background-color: blueviolet;
}
.home{
  display:flex;
  flex-direction: column;
  height:100vh;
  justify-content: center;
  align-items: center;
}
.quizHead,.playButton{
  color:white;
}
.playButton{
  height:50px;
  width:200px;
  border-radius: 50%;
  background-color:green;
}
.quiz{
  background-color: white;
  height:70vh;
  width:70%;
  margin:50px;
  padding:20px;
  
}
.questionHead{
  text-align: center;
}
.question{
  display:flex;
}
.question p{
  margin-right:300px;
}
.button{
  height:50px;
  width:400px;
  border-radius: 50%;
  background-color: skyblue;
  color:white;
  border-color: skyblue;
  font-size: 20px;
}
.buttonDiv{
  display:flex;
  justify-content: space-around;
  margin-top:30px;
  margin-bottom: 30px;
}
.navOptions{
  display:flex;
  justify-content: center;
}
#previous,#next,#quit{
  margin-right:20px;
  height:40px;
  width:100px;
  font-size: 20px;
}
#previous{
  background-color: blue;
}
#next{
  background-color: green;
}
#quit{
  background-color: red;
}
.tickDiv img{
  height:100px;
  width:100px;
}
.tickDiv{
  display:flex;
  justify-content: center;
  margin:20px;
}
.resHead{
  font-size: 50px;
  text-align: center;
  color:green;
}
.resultDisplay{
  background-color: white;
  height:50vh;
  width:60%;
  margin-left:300px;
  padding:10px;
}
.display1{
  font-size: 30px;
  text-align: center;
}
.display2{
  font-size: 30px;
  text-align: center;
  color: darkgoldenrod;
}
.review{
  display:flex;
  margin-left:10px;

}
.review{
  color:red;
  font-size: 20px;
}
.navBack{
  display:flex;
  justify-content: center;
  margin-top:20px;
}
.playAgain{
  margin-right:30px;
}
.playAgain,.back{
  height:50px;
  width:200px;
  border-radius: 50%;
  background-color: darksalmon;
  font-size: 20px;
}
.display3{
  display:flex;
  justify-content: space-around;
}